* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #f5ba13;
  height: 5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 0 2%;
}

.header h1 {
  cursor: pointer;
  font-size: 2rem;
}

.header-item {
  display: flex;
}

.header-item h5 {
  cursor: pointer;
  margin-left: 1rem;
}

.create-area {
  position: relative;
  width: 38.5%;
  margin: 7vh auto 11.8vh auto;
  padding: 1.5%;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.create-area input,
.create-area textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.create-area input {
  font-size: 1.5em;
}

.create-area button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.note {
  padding: 1%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  margin: 1% 1%;
  width: 23%;
}

.note h1 {
  font-size: 1.3em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: justify;
  text-wrap: wrap;
  max-height: 150px;
  overflow:auto;
}

.note button {
  float: right;
  margin-left: 5%;
  color: #f5ba13;
  border: none;
  cursor: pointer;
  padding: 1.5%;
  border-radius: 0.3rem;
  font-size: small;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ba13;
  height: 2.5rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 10vh;
    padding: 0 6%;
  }

  .header-item {
    display: flex;
  }

  .header-item h5{
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  .note {
    width: 47%;
  }

  .create-area {
    width: 75%;
    padding: 3%;
    margin-bottom: 8vh;
  }

  .create-area input {
    font-size: 1.3rem;
  }

  .create-area textarea {
    font-size: 1rem;
  }

  .note button {
    font-size: 0.8rem;
  }

  .note {
    padding: 3%;
    padding-bottom: 2%;
  }

  .note p {
    font-size: small;
  }

  .note h1 {
    font-size: medium;
  }
}